body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.bg-dark-red {
  background: rgb(255, 0, 0);
  background: radial-gradient(circle, rgba(255, 0, 0, 1) 0%, rgba(6, 0, 0, 1) 70%);
}

.gameCol{
  max-width: 33%;
}

.read-more-button{
  color: red;
  font-weight: bold;
  cursor: pointer;
}
